.wrapper {
  padding: 32px 0 0;
}

.grid {
  columns: 4;
  column-gap: 16px;
  margin: 0 48px;
}

.itemWrapper {
  break-inside: avoid;
  margin-bottom: 16px;
}

.item {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1200px) {
  .grid {
    columns: 3;
    column-gap: 12px;
    margin: 0 32px;
  }

  .itemWrapper {
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .grid {
    columns: 2;
    column-gap: 10px;
    margin: 0 16px;
  }

  .itemWrapper {
    margin-bottom: 10px;
  }
}
